<div class="management-container">
  <!-- Formulario -->
  <div class="form-area">
    <app-mydiet-page
      [mydiet]="mydietData"
      [editMode]="editMode"
      (mydietAddRequested)="onMydietsAddRequested($event)"
      (mydietUpdateRequested)="onMydietsUpdateRequested($event)"
      (cancelRequested)="onCancelRequested()"
    ></app-mydiet-page>
  </div>

  <!-- Tabla y Estadísticas -->
  <div class="table-stats-area">
    <section class="table-section">
      <table mat-table [dataSource]="dataSource" matSort class="custom-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">
            {{ 'diet.id' | translate }}
          </th>
          <td mat-cell *matCellDef="let r" class="custom-cell">{{ r.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">
            {{ 'diet.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let r" class="custom-cell">{{ r.name }}</td>
        </ng-container>

        <ng-container matColumnDef="calories">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">
            {{ 'diet.calories' | translate }}
          </th>
          <td mat-cell *matCellDef="let r" class="custom-cell">{{ r.calories }}</td>
        </ng-container>

        <ng-container matColumnDef="proteins">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            {{ 'diet.proteins' | translate }}
          </th>
          <td mat-cell *matCellDef="let r" class="custom-cell">{{ r.proteins }}</td>
        </ng-container>

        <ng-container matColumnDef="carbs">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            {{ 'diet.carbs' | translate }}
          </th>
          <td mat-cell *matCellDef="let r" class="custom-cell">{{ r.carbs }}</td>
        </ng-container>

        <ng-container matColumnDef="fats">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            {{ 'diet.fats' | translate }}
          </th>
          <td mat-cell *matCellDef="let r" class="custom-cell">{{ r.fats }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons class="custom-paginator"></mat-paginator>
    </section>

    <section class="stats-section">
      <mat-card class="stats-card">
        <mat-card-title>{{ 'diet.statistics_last_24_hours' | translate }}</mat-card-title>
        <mat-card-content>
          <p>{{ 'diet.calories' | translate }}: {{ dailyStats.calories }}</p>
          <p>{{ 'diet.proteins' | translate }}: {{ dailyStats.proteins }}</p>
          <p>{{ 'diet.carbs' | translate }}: {{ dailyStats.carbs }}</p>
          <p>{{ 'diet.fats' | translate }}: {{ dailyStats.fats }}</p>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</div>
