.profile-container {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.radio-options {
  display: flex;
  gap: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #308C83;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #13547a;
}

button[type="button"] {
  border: 2px solid #f44336;
  color: #f44336;
  font-weight: 600;
  border-radius: 25px;
  padding: 10px 20px;
}

button[type="button"]:hover {
  background-color: #f44336;
  color: white;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-label {
  font-weight: 600;
  font-size: 16px;
}

p {
  color: #717275;
  font-size: 16px;
  font-weight: 500;
}

.subscription-container {
  margin-top: 20px;
}

.subscription-container p {
  font-size: 14px;
  color: #308C83;
  margin: 5px 0;
}
