<mat-card class="welcome-card">
  <h1 class="welcome">
    Bienvenido, {{ currentUser?.name }} {{ currentUser?.lastname }}!
  </h1>
  <div class="phrases">
    <p *ngFor="let phrase of phrases">{{ phrase }}</p>
  </div>
</mat-card>

<mat-card class="actions-card">
  <h2>¿Qué puedes hacer?</h2>
  <mat-list>
    <mat-list-item *ngFor="let a of actions" (click)="goTo(a.path)" class="action-item">
      <mat-icon class="action-icon">{{ a.icon }}</mat-icon>
      <span class="action-text">{{ a.title }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>
