/* Contenedor principal */
.form-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #308C83;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  color: #308C83;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 20px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.field:focus-within {
  box-shadow: 0px 8px 8px rgb(48, 140, 131);
  border-color: #308C83;
}

.field input:focus {
  border-color: #308C83;
  outline: none;
}

.field mat-label {
  font-size: 16px;
  font-weight: bold;
  color: #308C83;
  margin-bottom: 8px;
  display: block;
}

.button-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  transition: transform 0.2s ease;
}

button:hover:not(:disabled) {
  transform: scale(1.05);
}

/* Estilo para ejemplos de actividades */
.activity-examples {
  margin-top: 30px;
  background-color: #f4f7f6;
  padding: 16px;
  border-radius: 8px;
}

.activity-examples ul {
  list-style-type: none;
  padding-left: 0;
}

.activity-examples li {
  font-size: 16px;
  margin-bottom: 10px;
}

.activity-examples li strong {
  color: #308C83;
}
