<mat-toolbar color="primary" class="toolbar">
  <mat-icon>notifications_active</mat-icon>
  <span>Tus notificaciones</span>
</mat-toolbar>

<mat-list class="notif-list" *ngIf="notifications.length; else noNotif">
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let n of notifications">
    <mat-icon matListAvatar color="accent">chat_bubble_outline</mat-icon>
    <div matLine class="message">{{ n.message }}</div>
    <div matLine class="meta">
      <span class="time">{{ n.timestamp | date:'short' }}</span>
      <span
        matBadge="{{ n.status === 'unread' ? '!' : '' }}"
        matBadgeColor="warn"
        matBadgeOverlap="false"
        class="status">{{ n.status | uppercase }}</span>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<ng-template #noNotif>
  <mat-card class="empty-card">
    <mat-card-content>
      <mat-icon>hourglass_empty</mat-icon>
      <p>No tienes notificaciones.</p>
    </mat-card-content>
  </mat-card>
</ng-template>
